.head {
  padding: 30px 0;
max-width: 100%;
  }
  .nav-list{
 max-width: 1100px;
 margin: 0 auto;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .list-item{
    padding: 0 20px;
    text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.1em;
  justify-content: center;
  font-weight: 500;
  }
  .head-logo{
    color:var(--color-dark-blue);
    font-size: 48px;
    font-family: 'Revalia', cursive;
    padding-left: 0;
    position: relative;
    bottom: 0.5rem;
  
  }
  .list-item:first-child{
    color:var(--color-dark-blue);
  }
